<!DOCTYPE html>
<html lang="es">
    <!--Fuente-->
    <%- include('./partials/head.ejs') %>
<body>
    <header>
        <!--Navbar-->
        <%- include('./partials/navbar.ejs') %>

    </header>

    <main>
        <div class="main-cotainer-top">
            <div class="tarjeta-top mujer">
                <h1>Mujeres</h1>
            </div>
            <div class="tarjeta-top hombre">
                <h1>Hombre</h1>
            </div>
        </div>
        <section id="descripcion">
            <h2>Nuestra Tienda de Ropa Online</h2>
            <p>Nuestra tienda de ropa online ofrece una amplia selección de prendas de vestir para hombres, mujeres y niños. Trabajamos con marcas reconocidas para ofrecer a nuestros clientes productos de alta calidad y con las últimas tendencias de moda.</p>
        </section>

        <section id="hombres">
            <h2>Ropa para Hombres</h2>

            <div class="contenedor-producto">
                <% for (let i = 0;i < productos.length; i++) {%>
                    <div class="producto">
                        <img src="/img/<%- productos[i].image %>" alt="#">
                        <h2><%= productos[i].name %></h2>
                        <p>$ <%= productos[i].price %></p>
                        <p><%= productos[i].description %></p>
                        <button>Agregar al Carrito</button>
                    </div>
                <%} %>

<!--                <div class="producto">
                    <img src="ruta-imagen1.jpg" alt="Camisa de hombre">
                    <h2>Camisa de Hombre</h2>
                    <p class="precio">$39.99</p>
                    <p class="descripcion">Camisa de manga larga con estampado otoñal. Ideal para ocasiones casuales y formales.</p>
                    <button>Agregar al carrito</button>
                </div>
    
                <div class="producto">
                    <img src="ruta-imagen2.jpg" alt="Vestido para mujer">
                    <h2>Vestido para Mujer</h2>
                    <p class="precio">$49.99</p>
                    <p class="descripcion">Vestido elegante con diseño floral perfecto para el otoño.</p>
                    <button>Agregar al carrito</button>
                </div>

                <div class="producto">
                    <img src="ruta-imagen2.jpg" alt="Vestido para mujer">
                    <h2>Vestido para Mujer</h2>
                    <p class="precio">$49.99</p>
                    <p class="descripcion">Vestido elegante con diseño floral perfecto para el otoño.</p>
                    <button>Agregar al carrito</button>
                </div>

                <div class="producto">
                    <img src="ruta-imagen2.jpg" alt="Vestido para mujer">
                    <h2>Vestido para Mujer</h2>
                    <p class="precio">$49.99</p>
                    <p class="descripcion">Vestido elegante con diseño floral perfecto para el otoño.</p>
                    <button>Agregar al carrito</button>
                </div>

                <div class="producto">
                    <img src="ruta-imagen2.jpg" alt="Vestido para mujer">
                    <h2>Vestido para Mujer</h2>
                    <p class="precio">$49.99</p>
                    <p class="descripcion">Vestido elegante con diseño floral perfecto para el otoño.</p>
                    <button>Agregar al carrito</button>
                </div>-->
        
            </div>

        </section>

        <section id="mujeres">
            <h2>Ropa para Mujeres</h2>
        </section>

        <section id="ninos">
            <h2>Ropa para Niños</h2>
        </section>
    </main>

    <footer>
        <!--Footer-->
        <%- include('./partials/footer.ejs') %>
    </footer>
</body>
</html>